*.bin
server/data_processor/__pycache__/
server/\.vscode/
server/\.idea/
driver-phone/app/build/
driver-phone/build/
driver-phone/\.idea/
driver-phone/\.gradle/
server/data_processor/ssd_mobilenet_v1_coco_2017_11_17/
server/data_processor/ssd_mobilenet_v1_coco_2017_11_17\.tar\.gz
driver-phone/gradle/wrapper/
driver-phone/gradlew\.bat
driver-phone/local\.properties

driver-phone/gradlew

server/data_processor/\.vscode/

server/data_processor/data/\.ipynb_checkpoints/

server/model_training/test\.record

server/model_training/train\.record

server/data_processor/server/ssd\.pb
driver-phone/app/google-services.json
